function @testd {
  TEST_CLIENT=0 meteord test-packages ./ --driver-package meteortesting:mocha --no-release-check "$@"
}

function @test {
  TEST_CLIENT=0 meteor test-packages ./ --driver-package meteortesting:mocha --no-release-check "$@"
}